<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mdes.mywifi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mdes.mywifi.WifiList"
            android:label="@string/main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NetInfo"
            android:label="@string/title_activity_net_info" >
            <intent-filter>
                <action android:name="com.mdes.mywifi.NETINFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            android:parentActivityName="com.mdes.mywifi.WifiList" 
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mdes.mywifi.WifiList" />
        </activity>
        <activity
            android:name="com.mdes.mywifi.chart.DynamicGraphActivity"
            android:label="@string/title_activity_level_graph"
            android:parentActivityName="com.mdes.mywifi.WifiList" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mdes.mywifi.WifiList" />

            <intent-filter>
                <action android:name="com.mdes.mywifi.DYNAMICGRAPHACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
                 <activity
            android:name="com.mdes.mywifi.chart.PieGraphActivity"
            android:label="@string/title_activity_level_graph"
            android:parentActivityName="com.mdes.mywifi.WifiList" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mdes.mywifi.WifiList" />

            <intent-filter>
                <action android:name="com.mdes.mywifi.DYNAMICGRAPHACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.achartengine.GraphicalActivity"
            android:parentActivityName="com.mdes.mywifi.WifiList" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mdes.mywifi.WifiList" />
        </activity>
    </application>

</manifest>
